- founders.... 5 members, dials for three
    - contact section ✔
- motto, vision and mission ✔
- news section:
    - page to instagram ✔
- Gallery page ✔
- About us page
    - Copy first page then put paragraph ✔
    - area of practice: Child rights, good governance and health promotion ✔
    - Activities
